:root {
  --clr-main: #4c3f91;
  --clr-secont: #9145b6;
  --clr-main-lg: #b958a5;
  --clr-red: #ff5677;
  --white: rgb(221, 216, 216);
  --black: rgb(59, 59, 59);
}
* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
  color: var(--black);
  font-size: 20px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
button,
a {
  text-transform: capitalize;
}
#nav {
  background-color: var(--clr-main);
  display: flex;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 5;
}
#nav a,
#nav p {
  color: var(--white);
}
#main {
  max-width: 900px;
  min-height: 100vh;
  margin: auto;
  padding: 10px;
  padding-bottom: 70px;
  padding-top: 70px;
  position: relative;
}
/* #main section {
  display: flex;
  justify-content: center;
  align-items: center;
} */
#main .title {
  border-bottom: 3px solid var(--clr-secont);
  color: var(--clr-main-lg);
  margin-bottom: 30px;
}
.d-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: 20px;
}
.d-grid .title {
  grid-column: 1/3;
}
.d-block,
.form-group,
label {
  display: block;
}
.form-group {
  padding: 5px;
}
.form-group input {
  float: right;
}
#main img {
  max-width: 100%;
}
#main section a {
  background-image: linear-gradient(
    to left,
    var(--clr-main),
    var(--clr-secont)
  );
  padding: 5px;
  color: var(--white);
  text-decoration: none;
  border-radius: 10px;
}
.btn-link {
  border: none;
  background-image: linear-gradient(
    to left,
    var(--clr-main),
    var(--clr-secont)
  );
  margin: 5px 0px;
  padding: 5px;
  color: var(--white);
  text-decoration: none;
  border-radius: 10px;
}
.btn-link:hover,
.btn-link:active {
  background-image: linear-gradient(
    to right,
    var(--clr-main),
    var(--clr-secont)
  );
  color: var(--white);
}

#main section a:hover,
#main section a:active {
  background-image: linear-gradient(
    to right,
    var(--clr-main),
    var(--clr-secont)
  );
}
.form {
  /* max-width: min-content; */
  /* margin: auto; */
}
#footer {
  position: fixed;
  left: 0px;
  right: 0px;
  z-index: 5;
  bottom: 0px;
  background-color: var(--clr-secont);
  text-align: center;
}
#footer p,
#footer h1 {
  color: var(--white);
}
.preview {
  position: fixed;
  right: 30px;
  bottom: 70px;
  z-index: 5;
}
.profil {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.icon {
  margin: auto;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.icon img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}
/* contoh  */
.contoh {
  border: 1px solid var(--black);
  border-radius: 10px;
  height: 100vh;
  max-width: 90%;
  min-width: 300px;
  position: relative;
  padding: 10px;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.bg-blue {
  color: rgb(36, 36, 185);
}
.bg-green {
  color: rgb(22, 199, 22);
}
.bg-ungu {
  color: rgb(241, 10, 241);
}
.bg-red {
  color: rgb(216, 23, 23);
}
.sosial ion-icon {
  font-size: 30px !important;
  margin: 15px 0px;
}
.link-list {
  width: 80%;
}
.link-list a {
  background-color: grey;
  text-decoration: none;
  color: var(--white);
  padding: 3px 10px;
  display: block;
  border-radius: 10px;
}
.contoh .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--clr-main);
}
.contoh .footer p {
  color: var(--white);
}
.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .profil {
    grid-template-columns: 1fr;
  }
  .manage.d-grid {
    grid-template-rows: 75px auto;
  }
  .d-grid .title {
    grid-column: unset;
  }
  .contoh {
    background-color: var(--white);
  }
  aside {
    display: none;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    /* max-width: 100vh; */
    /* padding-top: 60px; */
    background-color: rgba(19, 17, 17, 0.946);
  }
}
@media screen and (min-width: 601px) {
  .btn-preview {
    display: none;
  }
}
